{% extends 'WebBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/custom/buttons-inscription.js')}}"></script>
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 m-xs-tb-4'>
            <h1 class='title-alpha'>TUS CURSOS</h1>
        </div>
    </div>

    <div class='row row-margin'>
        <div class='col-xs-12'>
            {% for message in app.session.flashBag().get('status') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
    </div>

    {# Block Notification #}
    {% if notifications %}
        {% for notification in notifications %}
            {% if notification.readed == 0 %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Atención! </strong>Tienes un examen por calificar, da click <a href="{{path('detail_file_exam', {'id' : notification.remitente})}}"><strong>aqui</strong></a> para calificarlo.
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {# Block Notification #}

    {% if examenes_calificados %}
        {% for examen in examenes_calificados %}
            {% if examen.readed == 0 %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Atención! </strong>Tienes un examen que ya fue calificado, da click <a href="{{path('detail_score_file_exam', {'id' : examen.user.id})}}"><strong>aqui</strong></a> para saber más.
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}



    <div class='row margin-b-8'>
        {% if courses_inscription != null %}
            {% for course_insc in courses_inscription %}
                <div class='col-xs-12 col-md-4'>
                    <div class='border-line info-course'>
                        <a href="{{path('web_courses_detail', {'id' : course_insc.course.id } )}}">
                            <div class='hover-wrap'>
                                <div class='image-wrap'>
                                    {% if course_insc.course.image != null%}
                                        <img class='responsive-image' src="{{ asset("uploads/"~course_insc.course.name~"/"~course_insc.course.image)}}"/>
                                    {% else %}
                                        <img src="{{ asset('assets/images/courses/curso.jpg') }}" class='responsive-image' />
                                    {% endif %}
                                </div>
                                <div class='overlay-wrap'>
                                    <h2 class='vertical-align'>
                                        <i class='glyphicon glyphicon-plus'></i>
                                    </h2>
                                </div>
                            </div>
                        </a>
                        <div class='col-xs-12 padding-wrap'>
                            <h1 class='m-xs-b-2 text-orange'>{{ course_insc.course.name }}</h1>
                            {#<p class="text-gray-dark">SCHP-UNAM- DPbR4x</p>#}
                            <p class='m-xs-b-2'>
                                {# <span>Curso terminado - 31 Marzo 2017</span>#}
                            </p>
                            <div class="m-xs-b-2">
                                <a href="{{ path('web_courses_detail',{'id': course_insc.course.id}) }}" class="btn btn-view">VER CURSO ARCHIVADO</a> 

                                <!--aqui esta el engrane-->
                                <!--<i class="fa fa-cog m-xs-l-4"></i>-->
                                <form method="post">
                                    <button type="submit" class="btn btn-sm btn-default btn-uninscription
                                            {% if app.user|inscription(course_insc.course) == false %}
                                                hidden
                                            {% endif %}
                                            " 
                                            data-course="{{ course_insc.course.id }}">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden='true'></span>
                                        Cancelar inscripción
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12 footer-course-own padding-wrap bg-gray">
                            <p>Los detalles finales del curso están siendo términados.<br/>
                                Su resultado final estará disponible pronto.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-xs-12">
                <p>No te has inscrito a ningun curso.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}