{% extends "WebBundle::layout.html.twig" %}

{% block content %}

    <div class='row'>
        <div class='col-xs-12'>

            <div class="wrapper-contenido">
                <h1 class="subtitle">Lecturas Obligatorias</h1>
                <hr>
                <a href="{{path('mandatory_reading_add')}}" class='btn btn-success m-xs-r-2'><i class='fa fa-plus m-xs-r-1'></i>Añadir Lectura Obligatoria</a>
                <hr>
                {% for message in app.session.flashBag().get('status') %}
                    <div class="alert alert-success alert-dismissible alert-js" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class='col-xs-12'>
            <div class='table-responsive'>
                <table class="table table-striped table-bordered table-alpha" cellspacing="0" width="100%" id="myTable">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Nombre</th>
                            <th>Url</th>
                            <th>Curso</th>
                            <th>Unidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reading in mandatory_readings %}
                            <tr>
                                <td>{{ reading.name }}</td>
                                <td>{{ reading.url }}</td>
                                <td>{{ reading.course.name }}</td>
                                <td>{{ reading.unidad.name }}</td>
                                <td class="text-center ico-actions">
                                    <a href="{{ path('mandatory_reading_edit', {'id':reading.id}) }}" class="ico-pencil m-xs-r-1">
                                        <span class="fa fa-pencil" aria-hidden="true"></span>
                                    </a> 
                                    <a href="{{ path('mandatory_reading_delete', {'id':reading.id}) }}" class="ico-trash m-xs-r-1">
                                        <span class="fa fa-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

